@font-face {
  font-family: "slkscre";
  src: local("slkscre"), url(./fonts/slkscre.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: slkscre, serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

.header {
  min-height: 10em;
  width: 100%;
  border: 1px solid black;
}

.ui-container {
  display: flex;
  height: 100%;
  border: 3px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 0;
  padding: 2em;
  background-color: darkslategrey;
}

.grid-item {
  background-color: lightgrey;
  min-width: 2em;
  min-height: 2em;
}

.grid-item:hover {
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.info-panel {
  display: flex;
  flex-direction: column;
  min-width: 10em;
  background-color: lightyellow;
  justify-content: flex-start;
  padding-top: 1em;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.info-item-container {
  background-color: rgb(207, 252, 249);
  flex-grow: 1;
  margin: 0em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: inset 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(165, 165, 144);
}

.info-item-top {
  margin-top: 2em;
  padding: 0 2em 0;
  font-weight: bold;
  font-size: 1.1em;
}

.info-item {
  padding: 0 2em 0;
  margin-top: 0.2em;
  font-weight: bold;
  font-size: 1.1em;
}

.cycle-button-container {
  display: flex;
  margin: 0 1em 1em;
}

.cycle-button {
  color: rgb(207, 252, 249);
  background-color: rgb(109, 18, 18);
  min-height: 2em;
  font-size: 1.25em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.cycle-button:active {
  transform: scale(0.98);
}

.background-blue {
  background-color: mediumblue;
}

.background-green {
  background-color: green;
}

.background-white {
  background-color: white;
}

.selected {
  border: 1px solid red;
}
