* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

.header {
  min-height: 10em;
  width: 100%;
  border: 1px solid black;
}

.ui-container {
  display: flex;
  height: 100%;
  border: 3px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 0;
  padding: 2em;
  background-color: darkslategrey;
}

.grid-item {
  background-color: lightgrey;
  min-width: 2em;
  min-height: 2em;
}

.grid-item:hover {
  border: 1px solid white;
}

.info-panel {
  display: flex;
  flex-direction: column;
  min-width: 10em;
  background-color: lightyellow;
  justify-content: flex-start;
}

.info-item-container {
  background-color: rgb(207, 252, 249);
  flex-grow: 1;
  margin-top: 10em;
  margin: 11em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.info-item-top {
  margin-top: 3em;
  padding: 0 1em 0;
}

.info-item {
  padding: 0 1em 0;
}
.cycle-button {
  margin: 0 1em 1em;
  color: rgb(207, 252, 249);
  background-color: rgb(109, 18, 18);
  min-height: 2em;
  font-size: 1.25em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.cycle-button:active {
  transform: scale(0.98);
}

.background-blue {
  background-color: mediumblue;
}

.background-green {
  background-color: green;
}
