* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

.ui-container {
  display: flex;
  height: 100%;
}

.grid-container {
  display: grid;
  width: 60em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
  padding: 2em;
  border: 3px solid black;
  background-color: darkslategrey;
}

.grid-item {
  background-color: lightgrey;
  min-width: 0;
  overflow: scroll;
}

.grid-item:hover {
  border: 5px solid white;
}

.info-panel {
  display: flex;
  flex-direction: column;
  min-width: 10em;
  background-color: lightyellow;
  justify-content: flex-start;
}

.info-item-container {
  flex-grow: 1;
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cycle-button {
  margin: 1em;
  background-color: white;
  border: 3px solid black;
  min-width: 15em;
  min-height: 3em;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.cycle-button:focus {
  outline-color: white;
}

.cycle-button:active {
  transform: scale(0.98);
}

.background-blue {
  background-color: mediumblue;
}

.background-green {
  background-color: green;
}
